In [2]:
import pandas as pd 
import numpy as np 
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [3]:
data = pd.read_csv("bmi_data.csv")

In [5]:
data['BMI Category'].unique()

array(['Overweight', 'Underweight', 'Obese', 'Healthy Weight'],
      dtype=object)

In [13]:
data.shape

(600, 6)

In [3]:
data.dtypes

Gender           object
Age               int64
Height            int64
Weight            int64
BMI             float64
BMI Category     object
dtype: object

In [4]:
data.head()

   Gender  Age  Height  Weight    BMI BMI Category
0    Male   64     189      97  27.15   Overweight
1  Female   59     165      39  14.33  Underweight
2    Male   67     160      99  38.67        Obese
3  Female   54     199     127  32.07        Obese
4  Female   43     143     108  52.81        Obese

In [5]:
data.tail()

     Gender  Age  Height  Weight    BMI    BMI Category
595    Male   59     182      70  21.13  Healthy Weight
596  Female   88     170      99  34.26           Obese
597    Male   46     189      50  14.00     Underweight
598    Male   27     154      73  30.78           Obese
599    Male   42     200     100  25.00      Overweight

In [6]:
labelencoder = LabelEncoder()

data['Gender'] = labelencoder.fit_transform(data['Gender'])

data.head()

   Gender  Age  Height  Weight    BMI BMI Category
0       1   64     189      97  27.15   Overweight
1       0   59     165      39  14.33  Underweight
2       1   67     160      99  38.67        Obese
3       0   54     199     127  32.07        Obese
4       0   43     143     108  52.81        Obese

In [7]:
X = data.drop('BMI Category', axis = 1)
y = data['BMI Category']

In [8]:
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [9]:
RF_clf = RandomForestClassifier()
RF_clf.fit(X_train, y_train)

RandomForestClassifier()

In [12]:
y_train_pred = RF_clf.predict(X_train)
y_test_pred = RF_clf.predict(X_test)
train_accuracy = accuracy_score(y_train, y_train_pred)
test_accuracy = accuracy_score(y_test, y_test_pred)
print("Accuracy on training data:", train_accuracy)
print("Accuracy on testing data:", test_accuracy)

Accuracy on training data: 1.0
Accuracy on testing data: 0.9944444444444445

In [14]:
import joblib

joblib.dump(RF_clf, 'obesity.pkl')

['obesity.pkl']